# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env/
venv/
ENV/
env/
*.egg-info/
dist/
build/

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# System files
Thumbs.db

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# specific files
notebooks/remote_db_tests.ipynb
docs/notes.txt
